* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 72px;
}

body {
    background-color: white;
}


/* #region HEADER */

header {
    width: 100%;
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgb(64, 64, 64);
}

.header-inner-content {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: black;
}

/* #endregion */


/* #region MAIN */

main {
    padding-top: 0;
}

.section {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* #endregion */


/* #region HERO */

.hero-section {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 72px 20px 20px;
}

.hero-content {
    width: 100%;
    max-width: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sections-eyebrow {
    margin-bottom: 8px;
}

.sections-title {
    margin-bottom: 10px;
}

.hero-image {
    display: block;
    width: 100%;
    max-width: 600px;
    height: 350px;
    object-fit: contain;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

.hero-button {
    display: inline-block;
    padding: 14px 24px;

    background-color: #111;
    color: white;

    text-decoration: none;
    border-radius: 8px;

    font-weight: 600;
    text-align: center;

    transition: 0.2s ease;
}

.hero-button:hover {
    background-color: #333;
    transform: translateY(-2px);
}

/* #endregion */


/* #region TABLET */

@media (max-width: 768px) {

    .hero-section {
        min-height: 100vh;
        padding: 90px 20px 20px;
    }

    .sections-eyebrow {
        font-size: 16px;
    }

    .sections-title {
        font-size: 36px;
        line-height: 1.1;
    }

    .hero-image {
        max-width: 450px;
        height: 280px;
    }

    .hero-buttons {
        flex-direction: column;
        width: 100%;
        gap: 12px;
    }

    .hero-button {
        width: 100%;
        max-width: 350px;
    }
}

/* #endregion */


/* #region PHONE */

@media (max-width: 480px) {

    .hero-section {
        min-height: 100vh;
        padding: 90px 15px 20px;
    }

    .hero-content {
        max-width: 100%;
    }

    .sections-eyebrow {
        font-size: 14px;
    }

    .sections-title {
        font-size: 30px;
        line-height: 1.1;
    }

    .hero-image {
        width: 100%;
        max-width: 350px;
        height: 230px;
    }

    .hero-buttons {
        width: 100%;
        gap: 12px;
    }

    .hero-button {
        width: 90%;
        max-width: 300px;
        padding: 13px 20px;
        font-size: 14px;
    }
}

/* #endregion */
